/* http://meyerweb.com/eric/tools/css/reset/ v2.0 | 20110126 */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
  display: block;
}
body {
  line-height: 1;
}
ol, ul {
  list-style: none;
}
blockquote, q {
  quotes: none;
}
blockquote::before, blockquote::after,
q::before, q::after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

body {
    margin: 0;
    font-family: 'Segoe UI', sans-serif;
    background-color: #0f0f14;
    color: #fff;;
  }
  
  
  header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #121212;
    padding: 1rem 2rem;
    position: sticky;
    top: 0;
    z-index: 10;
  }
  
  .logo {
    font-size: 1.5rem;
    font-weight: bold;
  }
  
  nav a {
    color: #ccc;
    margin-left: 1.5rem;
    text-decoration: none;
    font-weight: bold;
    padding: 0.4rem 0.8rem;
    border-radius: 5px;
  }
  
  nav a.active, nav a:hover {
    background-color: #7c3aed;
    color: white;
  }
  
  .intro {
    display: flex;
    align-items: center;
    width: 100%;
    min-height: 100vh;
    box-sizing: border-box;
  }
  
  
  .intro-img{
    width: 50%;
  }

  .intro-img img{
    width: 100%;
  }
  .intro-text{
    width: 50%;
    align-items: center;
  }
  
  .intro-text h1 {
    font-size: 2.5rem;
    line-height: 1.3;
    margin-bottom: 1rem;
  }
  
  .intro-text .gray {
    color: #999;
    font-size: 1.2rem;
    margin-top: 0.5rem;
  }
  
  .intro-text p {
    margin-top: 1rem;
    font-size: 1rem;
  }
  
  
  .skills {
    margin-left: 3%;
    display: flex;
    padding: 4rem 2rem;
    color: #e0e0e0;
    gap: 3rem;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    height: 90vh;
  }
  
  .skills-intro {
    flex: 1 1 300px;
    max-width: 400px;
  }
  
  .skills-intro h1 {
    font-size: 3rem;
    color: #fff;
    margin-bottom: 1rem;
  }
  
  .skills-intro p {
    color: #999;
    font-size: 1.1rem;
    line-height: 1.6;
  }
  
  .skills-grid {
    flex: 2 1 600px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
    gap: 2rem;
  }
  
  .skill-card {
    padding: 1.5rem;
  }
  
  
  .skill-card h3 {
    color: #fff;
    font-size: 1.5rem;
    margin-bottom: 1rem;
  }
  
  .skill-card p {
    font-size: 1rem;
    line-height: 1.4;
    color: #ccc;
  }
  
  
  .question{
    width: 100%;
    height: 95vh;
    display: flex;
    align-items: center;
    justify-content: center;
  }


  .startQuestion{
    display: flex;
    width: 50%;
    height: 100%;
    align-items: center;
    justify-content: center;
    color: #ccc;
    font-size: 5rem;
    text-align: center;
    line-height: 1.3em;
  }

  .answerQuestion{
    display: flex;
    width: 50%;
    height: 100%;
    background-color: #ccc;
    align-items: center;
    justify-content: center;
    color: #0f0f14;
    font-size: 1.5rem;
    text-align: center;
    line-height: 3.5rem;
  }


  .answerQuestion p{
    width: 70%;
  }

  .startQuestion h1{
    width: 80%;
  }